.App {
  text-align: center;
}


.Live-Section {
  background-color: #91cad4;
  min-height: 100vh;
  width:25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Result{
  background-color: #5ea6b3;
  min-height: 100vh;
  width:55%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.GroundTruth{
  background-color: #7e3171;
  min-height: 100vh;
  width:50%;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Prediction{
  background-color: #c25a4c;
  min-height: 100vh;
  width:50%;
  font-size: calc(10px + 2vmin);
  color: white;
}

.streaming {
  width:90%;
  top:5px;
  padding:0 0 1em 0;
  position: relative;
  float: left;
}