.App {
  text-align: center;
}


.Live-Section {
  background-color: #282c34;
  min-height: 100vh;
  width:30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.streaming {
  width:90%;
  position: relative;
  float: left;
}